<div class="col-md-6">
  <label class='label label-default'>Список вопросов</label><br />
  <% if @questions_list %>
       <table class="table table-striped">
        <% @questions_list.each do |item| %>
            <tr>
              <td width="80%"><%= item.name %></td>
              <td width="20%"><%= link_to 'Просмотреть', edit_question_path(item.id), class: 'btn btn-primary btn-sm' %></td>
            </tr>
        <% end %>
      </table>

      <%= will_paginate @questions_list %>

<% end %>
</div>